@charset "utf-8";	

html {
	overflow-x: hidden;
display: block;
}
	
.openerp .oe_login {
  background-image: none !important;
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  font-size: 14px;
  height: 100%;
}

.openerp .oe_login .oe_login_pane {
	position: absolute;
	top: 60%;
	left: 50%;
}

.openerp .oe_login .oe_login_logo {
	position: absolute;
	top: -120px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.openerp .oe_login .oe_login_bottom {
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, #F40000, #7E0606);
}
